{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>My Demo</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/unnamed.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}